
*{
    margin: 0;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lib-read-book{
    display: flex;
}
.lib-read-book-image > img{
    width: 100%;
}
.lib-read-book-text > p{
    padding-top: 3rem;
}
.book-noise-image > img{
    width: 100%;
    border-radius: 5rem;
}
.book-noise{
    display: flex;
}
.book-noise-text > p{
    padding-top: 3rem;
}
.lib-brownBox{
    display: flex;
}
.lib-brownBox-image > img{
    width:  100%;
    border-radius: 5rem;
}
.lib-brownBox-text > p{
    padding-top: 3rem;
}
.box-light-image > img{
    width: 100%;
}
.box-open{
    display: flex;
}
.box-open-image > img{
    width: 100%;
}
.box-open-text > p{
    padding-top: 3rem;
}
.lib-hoi{
    display: flex;
}
.lib-hoi-image > img{
    width: 100%;
    border-radius: 5rem;
}
.lib-hoi-text > p{
    padding-top: 3rem;
}
.leaving-home{
    display: flex;
}
.leaving-home-image > img{
    width: 100%;
    border-radius: 5rem;
}
.leaving-home-text > p{
    padding-top: 3rem;
}
.green-boy{
    display: flex;
}
.green-boy-image > img{
    width: 100%;
    border-radius: 5rem;
}
.green-boy-text > p{
    border-top: 3rem;
}
.main-bg{
    display: flex;
}
.image-bg > img{
    width: 100%;
    border-radius: 5rem;
    margin-top: 3rem;
}
.text-bg > p{
    padding-top: 3rem;
}
.plus-text > p{
    padding-top: 3rem;
}